@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
    /* background-color: black */
}

.container{
    width: 80%;
    margin:auto;
    /* background-color: black; */
    
}

/* Navbar Section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-head{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    
}

.nav-options{
    display: flex;
    gap: 30px;
    margin-right: 10px ;

    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;

}
.primary{
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;

}

/* Banner Section */
.banner{
    display: flex;
    justify-content: space-between;
}

.second-primary{
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    
}
.banner-info{
    width: 599.05px;
    height: 440px;
}

.banner-head{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.banner-para{
     
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.primary-txt{
    font-style:italic;
    
}
.habits-details{
    text-align: center;
}
.habit-head{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}
.habit-para{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}
.box-1{
    width: 231px;
    height: 274px;
    
}
.image-center{
    text-align: center;
}

.box-image{
    border-radius: 50%;
    
    
}

.box-head{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align:center;
}

.box-para{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align:center ;
}

.card-box{
    display: flex;
    justify-content: space-evenly;
}

.runextra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 371px;
    margin-top: 20px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    
}


.run-box-1{
    margin-left: 50px;
    width: 443px;
    height: 290px;
}
.run-head{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    
}
.run-para{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.run-image-center{
    border-radius: 20px;
}
.run-image{
    width: 366px;
    height: 312px;  
    /* padding: 70px; */
    margin-right: 49px;
    border-radius: 28px;
}

.bmi-cal{
     width: 671px;
    height: 120px; 
    text-align: center;
    
    
}
.bmi-head{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.bmi-para{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align:left;
}

.bmi-table{
    border: 1px solid black;
    width: 310px;
    height: 216px;
}
thead,tbody{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}

.bmi-inp{
    width: 282.5px;
height: 48px;
gap: 10;
padding: 12px 40px 12px 20px;
}
.inp-select-1{
    width: 282.5px;
    height: 48px;
}

.inp-select-2{
    width: 577px;
height: 48px;
}

.bmi-chart{
    display: flex;
    justify-content: space-between;
}
.meet-team{
    text-align: center;
}
.team-info{
    /* width: 671px;
    height: 120px; */
    /* text-align: center; */
}
.team-photo{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    width: 1060px;
    height: 604px;
    border-radius: 18px;
    padding: 20px;
    background: rgba(229, 11, 11, 0.1);

    
    

}
.image-center{
    text-align: center;
}
.img-size{
    width: 326.67px;
    height: 272px;
    border-radius: 8px;
    
}
.footer-section{
    display: flex;
    justify-content: space-between;
}
.last-para{
    text-align: center;
}